
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: Secular One;
}


body{
    background-color: rgba(19,29,41,255);
}

nav {
    display: flex;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 10%;
    
}

nav > a {
    padding-right: 5%;
    text-decoration: none;
    color: white;
}

.section1{
    display: flex;
    width: 100%;
    color: white;
    margin-bottom: 5%;
}

div > h1{
    font-weight: bold;
    margin-bottom: 5%;
    font-size: 45px;
}

button{
    margin-top: 15%;
    padding: 12px;
    width: 180px;
    background-color: rgba(237,195,44,255);
    border: none;
}

span{
    color: rgba(237,195,44,255);
}

.section1gauche{
    margin-left: 10%;
}

.section1droit > img{

    width: 70%;
    float: right;
    margin-right: 5%;
    
}

.section2 {

    display: flex;
    flex-direction: column;

    color: white;
    width: 100%;
    background-color: rgba(34,49,71,255);
}

.titreApropos {
    width: 100%;
    
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%;
    color: white;

}

.textApropos {

    margin: 5%;
}

.section3 {
    color: white;
}

.section3gauche > img{
    width: 30%;
    height: inherit;

    float: left;
    margin-left: 5%;
    margin-right: 5%;
}

.section3droite {
    margin-top: 5%;
    padding: 5%;
    
}

.section3droite > h2{
    padding-bottom: 5%;
}

.section4 {
    width: 100%;
    height: 700px;
    margin-top: 10%;
    display: flex;

    
    color: white;
}

.lienLion{
    margin-left: 10%;
}

a{
    color: rgba(237,195,44,255);
}

.section4droite {
    display: flex;
    width: 50%;
    
}

.section4droite > img{
    width: 100%;
}




.section4gauche{
    width: 50%;
    height: 100%;
    
    background-color: rgba(34,49,71,255);
    
}

.section4gauche > h2{

    margin-top: 15%;
    padding-bottom: 5%;
    padding: 5%;
    margin-left: 5%;
}

.section4gauche > p{
    margin-left: 5%;
    padding: 5%;
}

.section5{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 5%;

}

.boximg{
    
    height: 200px;
    width: 250px;
    margin: 1.8%;
}

.boximg > img {
    height: 200px;
    width: inherit;
}

.titreGalerie{
    width: 100%;
    
    text-align: center;
    margin-top: 5%;
    margin-bottom: 7%;
    color: white;
}

.reseauxContainer{
    width: 100%;
    text-align: center;
    margin-bottom: 10%;
    
}

@media only screen and (max-width: 600px) {
    .section1{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 5%;
    
    }

    .section1gauche > p {
        margin-left: 18%;
    }

    .section1droit{
        margin-top: 5%;
        margin-right: 25%;
    }

    button{
        margin-left: 18%;
        margin-bottom: 10%;
    }

    div > h1{
        text-align: center;
        margin-right: 20%;
        font-size: 35px;
    }
    
  }

  @media only screen and (max-width: 1200px) {

    .section4 {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        margin-bottom: 20%;
        
    }

    .section4gauche{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        height: fit-content;
        padding-bottom: 50px;
        width: 100%;
        
    }

    .section4droite{
        display:none;
    }

    .section4gauche > h2{

        margin-top: 5%;
        padding-bottom: 5%;
        padding: 5%;
        margin-left: 5%;
    }
    
    .section4gauche > p{
        margin-left: 5%;
        padding: 5%;
    }
  }